<header class="navbar">
    <div class="logo">
      <img [src]="imagePaths.logo" alt="Logo NCC">
    </div>
    <nav class="menu">
      <a href="#">Trang chủ</a>
      <a href="#">Lịch chiếu</a>
      <a href="#" class="active">Tin tức</a>
      <a href="#">Khuyến mãi</a>
      <a href="#">Giá vé</a>
      <a href="#">Liên hoan phim</a>
      <a href="#">Giới thiệu</a>
    </nav>
    <div class="auth-buttons">
      <button class="register">Đăng ký</button>
      <button class="login">Đăng nhập</button>
    </div>
  </header>